[caches]

  [caches.getjson]
    dir = ":cacheDir/:project"
    maxAge = -1

  [caches.getcsv]
    dir = ":cacheDir/:project"
    maxAge = -1

  [caches.images]
    dir = ":cacheDir/images"
    maxAge = "1440h"

  [caches.assets]
    dir = ":resourceDir/_gen"
    maxAge = -1

