[security]

  [security.exec]
    allow = [
      "^sass$",
      "^go$",
      "^npx$",
      "^postcss$",
      "^asciidoctor$",
      "^git$"
    ]
    osEnv = [ "(?i)^(PATH|PATHEXT|APPDATA|TMP|TEMP|TERM|RUBYLIB)$" ]

  [security.funcs]
    getenv = [ "^HUGO_" ]

  [security.http]
    methods = [ "(?i)GET|POST" ]
    urls = [ ".*" ]

