[markup]
  [markup.goldmark]
    [markup.goldmark.extensions]
      strikethrough = false
      [markup.goldmark.extensions.extras.delete]
        enable = true
      [markup.goldmark.extensions.extras.insert]
        enable = true
      [markup.goldmark.extensions.extras.mark]
        enable = true
      [markup.goldmark.extensions.extras.subscript]
        enable = true
      [markup.goldmark.extensions.extras.superscript]
        enable = true
    [markup.goldmark.parser]
      wrapStandAloneImageWithinParagraph = false # to apply attributes to a standalone image element
      [markup.goldmark.parser.attribute] # enables markdown attributes for block and title elements
        block = true
        title = true
    [markup.goldmark.renderer]
        unsafe = true
        # hardWraps = true
    [markup.goldmark.renderHooks.link]
        useEmbedded = "fallback"

[params.respimg]
  widths = "480,800,1280,1920"
  sizes  = "(max-width: 800px) 100vw, 800px"
  lqipSize = "20x"
  quality = 75
  enableWebp = true
  failOnMissing = false
  debug = "off" # "off" | "css" | "js"

[params]
  menu = true
  edit = true
