[markup]
  [markup.goldmark]
    [markup.goldmark.extensions]
      strikethrough = false
      [markup.goldmark.extensions.extras.delete]
        enable = true
      [markup.goldmark.extensions.extras.insert]
        enable = true
      [markup.goldmark.extensions.extras.mark]
        enable = true
      [markup.goldmark.extensions.extras.subscript]
        enable = true
      [markup.goldmark.extensions.extras.superscript]
        enable = true
    [markup.goldmark.parser]
      wrapStandAloneImageWithinParagraph = false # to apply attributes to a standalone image element
      [markup.goldmark.parser.attribute] # enables markdown attributes for block and title elements
        block = true
        title = true
    [markup.goldmark.renderer]
        unsafe = true
        # hardWraps = true
    [markup.goldmark.renderHooks.link]
        useEmbedded = "fallback"

[params.lazyimg]
  widths = "400,800,1200,1920"   # comma list of widths used to generate srcset
  sizes  = "(max-width: 800px) 100vw, 50vw"
  lqipSize = "20x"               # tiny LQIP size (width x)

[params]
  menu = true
  edit = true
