{{- /*
    ![Alternate text)(url.jpeg "title)
    {.ma-classe}

    Le code suivant permet de récupérer les images dans le page bundle:
    {{ with .Page.Resources.GetMatch (.Destination) }}
*/}}

<figure{{ with .Attributes.class }} class="{{ . }}"{{ end }}>
    {{- with .Page.Resources.GetMatch (.Destination) -}}
        {{ if eq (path.Ext .) ".gif" }}
        <picture><img src="{{ . }}"
          {{- with $.Text }} alt="{{ $.Text }}"{{ end -}}/>
        </picture>
        {{ else }}
            {{- partial "lazyimg" (dict "img" . "alt" $.Text) -}}
        {{ end }}
    {{- end -}}
{{- with .Title -}}<figcaption>{{ . }}</figcaption>{{- end -}}
</figure>
