@charset "UTF-8";

@use "abstracts" as cfg;
// 1. Configuration and helpers
// @use "abstracts/variables"      as variables;
// @use "abstracts/functions"      as functions;
// @use "abstracts/mixins"         as mixins;

// 2. Vendors
@use "vendors/normalize"                      as normalize;
@use "vendors/respimg"                        as respimg;
// @use "vendors/fork-awesome/fork-awesome"      as fork_awesome;

// 3. Base stuff
@use "base/base"           as base;
@use "base/fonts"          as fonts;
@use "base/typography"     as typography;
@use "base/helpers"        as helpers;

// 4. Layout-related sections
@use "layout/main"              as layout_main;
@use "layout/menus"             as menus;
@use "layout/horizontal_menu"   as horizontal_menu;
@use "layout/breadcrumbs"       as breadcrumbs;
@use "layout/header"            as header;
@use "layout/footer"            as footer;

// 5. Components
@use "components/admonitions"        as admonitions;
@use "components/button"             as button;
@use "components/block-elements"     as block_elements;
@use "components/iframes"            as iframes;
@use "components/table"              as table;
@use "components/table_keyboard"     as table_keyboard;
@use "components/sections"           as sections;
@use "components/code"               as code;
@use "components/headers"            as headers;
@use "components/is_draft"           as is_draft;
@use "components/sh-checklist"       as sh_checklist;
@use "components/form"               as form;

// 6. Page-specific styles
@use "pages/home"                  as home;
@use "pages/attestation_vente"     as attestation_vente;
@use "pages/contrat_location"      as contrat_location;
@use "pages/fiche-technique"       as fiche_technique;
@use "pages/note-frais"            as note_frais;
@use "pages/facture"               as facture;
@use "pages/anki"                  as anki;

// 7. Themes
@use "themes/ausondudiois"         as ausondudiois;
// 'themes/default';
//'themes/vfub';
// 'themes/duo';
