@use "sass:color";

pre {
    border-radius: 3px;
    // permet au code d'aller à la ligne et
    // de ne pas s'étaler horizontalement
    white-space: pre-wrap;

    padding: .5em .5em .4em;

    font-size: .9em;
}


// stylisation d'inline code. 
// on style la balise code, que si elle n'est pas dans un div.highlight
code:not(div.highlight code) {
        background-color: color.adjust(lightgrey, $lightness: 8%);
        padding: .2em;
        border-radius: 0.2em;
        font-size: .85em;
}

// qui n'et pas dans un block .highlight
