// Tokyo Color Palette
// https://www.color-hex.com/color-palette/89414

$st-background: #1C232D; // dark
$st-number: #8c3c39; // brown
$st-h1: #e94e31; // orange
$st-h2: hsl(250, 100%, 74.9%); // purple
$st-h3: #b739a7; // purple
$yellow: #f9901c; // yellow
$st-text: #cdc4d6; // white
$st-deleted: hsl(3.8, 100%, 72.4%);
$st-ol-li: green;
$st-blue: hsl(208.2, 100%, 73.7%);

.structure {
  border-radius: 3px;
  padding: 1em;
  font-size: 1em;
  background: $st-background;
  color: $st-text;

  &, h1, h2 {
    font-family: var(--fontStack-monospace, ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace);
  }


  h1 {
    color: $st-h1; 
    font-size: 1.7em;
  }
  h2 {
    color: $st-h2;
    font-size: 1.4em;
  }
  h3 {
    color: $st-h3;
  }
  del {
    color: $st-deleted;
  }

  ol li::marker {
    color: $st-ol-li;
  }
}
