/* html.checklist { */
/*     transform: rotate(-90deg); */
/*     transform-origin: left top; */
/*     width: 100vh; */
/*     height: 100vw; */
/*     overflow-x: hidden; */
/*     position: absolute; */
/*     top: 100%; */
/*     left: 0; */
/* } */
/**/

// ckecklist
html.checklist {
  .sh-checklist {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  font-size: 1.4em;
  line-height: 1.5em;

  @media screen and (max-width:900px) and (orientation:landscape) {

    widht: 100vw;
    height: 100vh;
    overflow: hidden;

    flex-wrap: no-wrap;

    div {
      max-height: 100vh;
      overflow: scroll;
    }
  }

  input[type=checkbox] {
    transform: scale(1.8);
  }
  label {
    cursor: pointer;
    padding: 0.05px;
    span {
      // pour que toute la ligne soit clickable:
      display: inline-block;
      width: 100%;

      padding-left: .8em;
    }
  }
  :checked + span {
    text-decoration: line-through;
    text-decoration-thickness: .15em;
  }
  h2 {
    padding: 0;
    margin: 0;
    font-variant: small-caps;
  }
}

.sh-checklist.setlist {
  input[type=checkbox] {
    display: none;
  }
  label span {
    padding-left: 0em;
  }
}
}
