// ckecklist
.sh-checklist {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  font-size: 1.4em;
  line-height: 1.5em;
  input[type=checkbox] {
    transform: scale(1.8);
  }
  label {
    cursor: pointer;
    padding: 0.05px;
    span {
      // pour que toute la ligne soit clickable:
      display: inline-block;
      width: 100%;

      padding-left: .8em;
    }
  }
  :checked + span {
    text-decoration: line-through;
    text-decoration-thickness: .15em;
  }
  h3 {
    font-variant: small-caps;
    margin: 0;
  }
}

.sh-checklist.setlist {
  input[type=checkbox] {
    display: none;
  }
  label span {
    padding-left: 0em;
  }
}
