// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    // display: flex;
    background-color: red;
}

#logo {
    font-family: $google-font;
    font-weight: 400;
    font-style: normal;
    font-size: 8rem;
}

/// Sommaire en fixe à gauche
///
@include respond-to('medium') {
    main {
        display: flex;
        flex-wrap: wrap;
    }

    h1 {
        flex: 1;
        order: 2;
    }

    #TOC-container {
        flex: 1;
        order: 1;
        max-width: 20em;
        #TableOfContents {
            position: sticky;
            top: 4em;
            left: 0;
            // si je mets 100vh, on ne voit pas le bas
            // avant d'avoir scroller down complètement la page
            max-height: 90vh;
            padding-bottom: 1em;
            overflow-y: auto;
        }
    }

    #mainContent {
        flex: 3;
        order: 2;
        padding-left: 1em;
    }
}

@include respond-to('large') {
    main {
        margin-right: 3vw;
    }
}

/** TMP
 **/


code {
    background-color: lighten(lightgrey, 14%);
}

iframe, object, embed{
    width: 100%;
    max-width: 100%;
}

body {
    // padding: 1em;
    main {
        padding: 1em;
    }
}

@include respond-to('small') {
    body {
    }
}

#mainContent {
    //    padding: 0 1em 0 2em;
}



/**
 * Should I group all colors decision here ?
 */
a {
    color: $link-color;
    text-decoration: none;

    @include on-event {
        color: $text-color;
        text-decoration: underline;
    }
}



//-----------------------

#map {
    height: 300px;
}

iframe  {
    border-radius: 5px;
}

// thumbs-up thumbs-o-up
// thumbs-down
// hand-o-right
// save
// lightbulb-o


#logo::before {
    @include add-fa-icon($fa-var-heartbeat, 3em);
    color: pink;
    text-shadow: 7px 7px 0.3em rgba(0,0,0, .3 );
    padding-right: .19em;
    animation: beat .45s infinite alternate; 
    transform-origin: center;
}
@keyframes beat{
    to { transform: scale(1.04); }
}

