<!doctype html>
<html lang="en" class="no-js">
  <head>
    {{ partial "head/meta" . }}
    {{ partial "head/include-css-js" . }}
  </head>

  <body class="
    {{- with .Param "bodyClass" }} {{ . }}{{ end -}}
    {{- with .Param "menu" }} menu{{ end -}}
    {{- with .Param "TOC" }} toc{{ end -}}
    {{- with .Param "breadcrumb" }} breadcrumb{{ end -}}
    ">

    {{/* header extracted */}}
    {{ partial "header/main-header" . }}

    <main>

      {{/* TOC kept in a small partial (optional) */}}
      {{ partial "header/toc" . }}

      <div id="mainContent">
        {{ if .Param "breadcrumb" }}
          {{ partial "ui/breadcrumbs" . }}
        {{ end }}

        <h1{{ with .Draft }} class="title_draft"{{ end }}>
          {{ .Params.Title }}
        </h1>

        {{ if .Param "anki" }}
          <button id="anki-button" data-info='{{ .Param "anki-tag" }}'>Generate Anki deck</button>
        {{ end }}

        {{ if .Param "pageInfos" }}
          <p>Page créée le {{ .PublishDate | time.Format "02/01/2006" }}</p>
          {{ with .GitInfo }}
            <p>Dernière correction, le {{ .CommitDate.Format "02/01/2006" }}</p>
          {{ end }}
        {{ end }}

        {{ if .Param "readingTime" }}
          <p>Temps de lecture estimé: {{ .ReadingTime }} minute{{ with (gt .ReadingTime 1)}}s{{ end }}.</p>
        {{ end }}

        {{ block "main" . }}{{ end }}
      </div>

    </main>

    {{ partial "footer/footer" . }}
    <script src="/js/scroll-spy.js"></script>
    {{ if .Param "anki" }}
      <script src="/js/anki.js"></script>
    {{ end }}
  </body>
</html>

