{{- /*
respimg/find.html
Sets store key "res" to the found resource (page resource, resource object, or assets resource)
Usage: partial "respimg/find.html" (dict "img" <imgParam> "page" .Page "store" $store)
*/ -}}

{{- $img := .img -}}
{{- $page := .page -}}
{{- $store := .store -}}

{{/* 1) try page bundle match using Destination name / pattern */}}
{{- $maybe := $page.Resources.GetMatch (printf "%v" $img) -}}
{{- if $maybe -}}
  {{- $store.Set "res" $maybe -}}
  {{- return -}}
{{- end -}}

{{/* 2) if caller passed a Resource object, detect safely by checking for .RelPermalink */}}
{{- with $img -}}
  {{- with .RelPermalink -}}
    {{- /* looks like a resource object */}}
    {{- $store.Set "res" $img -}}
    {{- return -}}
  {{- end -}}
{{- end -}}

{{/* 3) fallback to site assets (resources.Get) */}}
{{- $maybe2 := resources.Get (printf "%v" $img) -}}
{{- if $maybe2 -}}
  {{- $store.Set "res" $maybe2 -}}
  {{- return -}}
{{- end -}}

{{/* nothing found: set missing flag */}}
{{- $store.Set "res" nil -}}
{{- $store.Set "missing" true -}}
{{- $store.Set "missingPath" (printf "%v" $img) -}}

