// ----------------------------------------
// Breadcrumbs
// ----------------------------------------

@use "../abstracts" as c;

// NOTE: Est-ce que ça ne serait pas mieux dans component ?

nav#breadcrumbs {
  ol {
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    li {
      flex: 0 0 auto;
    }
    li:not(:last-child) {
      padding-right: .5em;
      &::after {
        content: "»";
        font-size: 1em;
        padding-left: .8em;
        color: c.$text-color;
      }
    }
  }
}
