{{ define "subpages" }}

{{ $currentPage := .currentPage }}
{{ $cfg := .cfg }}
{{ $depth := .depth }}

{{ with .context.Pages }}{{/* pour ne pas avoir de <ul> vides */}}
<ul>
	{{ range sort . $cfg.sortBy $cfg.order }}
	<li{{ with .Draft }} class="menu_draft"{{ end }}>
		{{ if $cfg.debug }}{{ .Weight }} - {{ end }}
		{{ if (eq $currentPage .) }}
		<span aria-current="page" class="active">{{ .LinkTitle }}</span>
		{{ else }}
		<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
		{{ end }}
          {{/* recurse if unlimited (0) or depth > 1 */}}
          {{ if or (eq $depth 0) (gt $depth 1) }}
            {{ $nextDepth := 0 }}
            {{ if ne $depth 0 }} {{ $nextDepth = sub $depth 1 }} {{ end }}
            {{ template "subpages" (dict "context" . "currentPage" $currentPage "cfg" $cfg "depth" $nextDepth) }}
          {{ end }}
	</li>
	{{ end }}
</ul>
	{{ end }}
{{ end }}

{{/* if we're on a section */}}
{{ $context := .CurrentSection }}
{{/* otherwise fallback to root */}}
{{ if not $context }}
	{{ $context = .Site.GetPage "/" }}
{{ end }}
{{/* config from the theme/site params fallback to sane default */}}
{{ $cfg := .Site.Params.menuTree | default (dict "sortBy" "LinkTitle" "order" "asc" "debug" false "depth" 0) }}

{{ template "subpages" (dict
	"context" $context
	"currentPage" .
	"cfg" $cfg
	"depth" (index $cfg "depth")
) }}
