{{/** 
   * Commenté pour avoir un HTML simple sans tout le UI du site
   * N’oublie pas le « end » à la fin si tu décide de l’utiliser
   */}}
{{ define "main" }}

{{- $start     := (.Param "start" | time) }}
{{- $end       := (.Param "end" | time) }}
{{- $lend_days := add (div ($end.Sub $start).Hours 24) 1 }}
{{- $items     := slice }}
{{- $total     := 0 }}
{{- range $useItem := .Param "items" }}
	{{- range $item := $.Site.Data.item }}
		{{- if eq (int $useItem.id) (int $item.id) }}
			{{- $newItem := dict "name" $item.name "quantity" (int $useItem.quantity) "lend_cost" $item.lend_cost "buy_cost" $item.buy_cost }}
			{{- $lend_total := int (mul $item.lend_cost $useItem.quantity) }}
			{{- $newItem = merge $newItem (dict "lend_total" $lend_total) }}
			{{- $total = add $total (mul $lend_total $lend_days) }}
			{{- $items = $items | append $newItem }}
		{{- end }}
	{{- end }}
{{- end }}

{{/**
   * Sébastien, à toi de jouer pour le devis !
   * Un petit exemple pour que tu ne passe pas trop
   * de temps à essayer de comprendre comment
   * tout est structuré « behind the scenes »
   *
   * Tu peux utiliser
   *
   * .Title         - Nom de l’événement
   * .Author        - Nom de la personne qui à crée le devis
   * .Date          - Date de la création du devis
   * $start         - Premier jour de location du matériel
   * $end           - Dernier jour de location du matériel
   * $lend_days     - Nombre de jour de location
   * $items         - « Array » du matériel avec les attributs
   *                  .name       - Nom de matériel
   *                  .quantity   - Quantité
   *                  .lend_cost  - Coût de location à l’unité par jour
   *                  .lend_total - Coût de location par jour
   *                  .buy_cost   - Coût d’achat à l’unité
   * $total         - Coût de location total du matériel
   *
   * Et aussi (peut-être moins utile pour un devis) :
   *
   * .Param "days_before" - Jours de montage
   * .Param "days_after"  - Jours de démontage
   */}}

{{/* je ferais une plus belle mise en page,
   * mais pour l'instant, ça fait un rendu de base plus lisible 
	 <h1>Devis VFUB</h1>
<div id="devis-info">
	<h2>Événement<span style="white-space:nowrap">&thinsp;</span>: {{ .Title }}</h2>
*/}}

	<p>
		Du <b>{{ $start.Format "02/01/2006" }}</b> au <b>{{ $end.Format "02/01/2006" }}</b> inclus
		({{ $lend_days }} jours de location)
	</p>
	<table>
		<thead>
			<tr>
				<th>Matériel</th>
				<th>Quantité</th>
				<th>Montant par jour (unité)</th>
				<th>Montant par jour</th>
				<th>Montant totale</th>
			</tr>
		</thead>
		<tbody>
{{- range $items }}
			<tr>
				<td>{{ .name }}</td>
				<td>{{ .quantity }}</td>
				<td>{{ .lend_cost | lang.FormatCurrency 2 "EUR" }}</td>
				<td>{{ .lend_total | lang.FormatCurrency 2 "EUR" }}</td>
				<td>{{ mul .lend_total $lend_days | lang.FormatCurrency 2 "EUR" }}</td>
			</tr>
{{- end }}
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td>Totale</td>
				<td>{{ $total | lang.FormatCurrency 2 "EUR" }}</td>
			</tr>
		</tbody>
	</table>
</div>

{{ end }}
