{{ $cite := .Attributes.cite }}

<figure
    {{- with .Attributes.class }} class="{{ . }}"{{ end }}
    {{- with .Attributes.id }} id="{{ . }}"{{ end -}}>
  <blockquote {{ with .Attributes.cite }}cite="{{ . }}"{{ end }}>
    {{ .Text | safeHTML }}
  </blockquote>
  {{ with .Attributes.caption }}
    {{ with $cite }}<a href="{{ $cite }}">{{ end -}}
        <figcaption class="blockquote-caption">
      {{ . | safeHTML }}
      {{- with $cite }}</a>{{ end }}
      </figcaption>
  {{ end }}
</figure>
