/** Pour avoir les border-radius par questions,
 * J'ai mis la propriété sur le div parent,
 * Mais aussi sur le dernier div
 */

$radius: 6px;
$border: rgba(0,100,255,0.2);
$col-quest: lighten(#eaf6f6, 0%);
$col-answ: #fcfefe;

details {
  border: 3px solid $border;
  padding: 0;
  margin-bottom: 1em;
  background: $col-quest;
  border-radius: $radius;
}

summary {
  p {
    margin: 0;
  }
  padding: 0.6em 1em 0.4em;
  margin: 0em;
  display: block;
  cursor: pointer;
  + div {
    padding: 0.1em 1em;
    background: $col-answ;
    border-radius: 0 0 $radius $radius;
  }
}

section.eval {
  text-align: right;
  margin-bottom: 2em;
  label {
    cursor: pointer;
    &:has(input:checked) {
      color: maroon;
    }
  }
}
/** Pour l'audio je pourrais:                                                            
 *   - cacher le lecteur,                                                               
 *   - faire un gros bouton play/pause                                                  
 *   - https://www.w3schools.com/jsref/met_audio_pause.asp                              

 * 100% c'est très bien sur les téléphones                                              
 * faire une version avec taille normale pour les plus grands écrans, alignés à gauche. 
 */

audio {
  display: block;
  width: 100%;
}
