body.contrats-location {
  @media print {
    font-size: 0.7em;
  }
  h1 {
    display: none;
  }
  // h1 sert à identifier le nom de fichier pour la conversion en pdf
  // le premier `p` du document juste après le h1 est utilisé comme titre
  // dans la présentation
  h1 + p {
    font-size: 2em;
    font-weight: bold;
    padding: 0;
    text-align: center;
    & + p {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0;
    margin-top: -1em;
    text-align: center;
    }
  }

  h2 {
    padding-top: 3.5em;
  }

  address {
    padding: 0 0 1.5em 2em;
  }

  h3 {
    padding-left: 0.8em;
  }
  p {
    padding-left: 1.8em;
  }
}



@mixin generate-outline($reset-element: body, $list-style: decimal) {
  $counter: unique-id();

  counter-increment: $counter;

  &::before {
    content: counter($counter, $list-style)'. ';
  }

  @at-root {
    #{$reset-element} {
      counter-reset: $counter;
    }
  }
}

// How to use it
h2 {
  @include generate-outline(h1, upper-roman);
}

h3 {
  @include generate-outline(h2);
}

@page {
  @bottom-center {
    content: counter(page);
  }
}
