{{/* IDEAS: 
  NOTE: Variables à utiliser ![.AlertType].AlertTitle
 	- .Type
 	- .AlertType
 	- .AlertTitle → Le texte que je mets à côté de l'alerttype pourrait servir ici de tag
 	- .Text
	- je pourrais stocker les évaluations dans des cookies
	- avoir des options de tri des questions en commençant par les plus dures
	- ou de ne pas afficher celles qui sont "easy"
	*/}}
{{ $text := .Text }}

{{/* Extract everything before the blockquote */}}
{{ $question := index (findRE `(?s)^(.*?)<blockquote>` $text 1) 0 }}

{{/* Extract everything inside the blockquote */}}
{{ $answer := index (findRE `(?s)<blockquote>(.*?)</blockquote>` $text 1) 0 }}

{{ $question := replace $question "<blockquote>" "" }}
{{ $answer := replace $answer "<blockquote>" "" }}


<details class="{{ .AlertType }}" data-info="{{ .AlertTitle }}">
	<summary class="question">{{ $question | safeHTML }}</summary>
	<div class="answer">{{ $answer | safeHTML }}</div>
</details>

<section class="eval">
	<label><input type="radio" name="{{ .AlertTitle }}" /><span> Again</span></label>
	<label><input type="radio" name="{{ .AlertTitle }}" /><span> Hard</span></label>
	<label><input type="radio" name="{{ .AlertTitle }}" /><span> Good</span></label>
	<label><input type="radio" name="{{ .AlertTitle }}" /><span> Easy</span></label>
</section>
