{{ $contactsRaw := .Inner }}
{{ $contacts := trim $contactsRaw "\n\t\r " }}
{{ $lines := split $contacts "\n" }}

<table>
  <tbody>
    {{ range $lines }}
      {{ $line := trim . " \t\n\r" }}
      {{ if and $line (or (hasPrefix $line "- ") (hasPrefix $line "* ")) }}
        {{ $cleanLine := replaceRE "^[-*]\\s+" "" $line }}
        {{ $parts := split $cleanLine ":" }}
        {{ if ge (len $parts) 2 }}
          {{ $name := index $parts 0 | safeHTML }}
          {{ $phone := index $parts 1 | safeHTML }}
          {{ $cleanPhone := replace $phone " " "" }}
          <tr>
            <td>{{ $name }}</td>
            <td><i class="fa fa-phone"></i> <a href="tel:{{ $cleanPhone }}">{{ $phone }}</a></td>
          </tr>
        {{ end }}
      {{ end }}
    {{ end }}
  </tbody>
</table>

