{{ range .Site.AllPages }}
  {{ with .Params.latitude }}
<li>Latitude: {{ . }}</li>
  {{ end }} 
  {{ with .Params.longitude }}
<li>Longitude {{ . }}</li>
  {{ end }} 
{{ end }}

<hr/>

{{ $copyMap := slice }}

{{ range .Site.AllPages }}
  {{ with .Params.latitude }}
  {{ $copyMap = $copyMap | append . }}
  {{ end }} 
  {{ with .Params.longitude }}
<li>Longitude {{ . }}</li>
  {{ end }} 
{{ end }}
<br/>

This is copy map:

{{ $copyMap }}

<hr/>

{{ $map := $.Site.Data.vacation_spots }}
{{ $map }}

{{ range $map }}
<li>{{ . }}</li>
{{ end }}
<div id="map">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" crossorigin=""></script>
<script>
 let markers = {{ $.Site.Data.vacation_spots }};
</script>
<script src="/map.js"></script>
</div>
