// stratégie pour le visuel sur tél
// 1. media queries pour avoir une fonte moins grosse sur petit écran
// 2. si écran encore trop petit, alors que le texte du brand et du h1 puisse dépasser


html {
    font-size: 16px;
}

@include respond-to('small') {
    html {
        font-size: 10px;
    }
}
body {
    font-family: "M PLUS Rounded 1c";
    color: $text-color;
}

#main-header {
    overflow: hidden;
}

#logo {
    // font-family: Karla;
    font-weight: 400;
    font-style: normal;
    font-size: 10rem;
    text-align: center;
    font-variant: small-caps;
    text-transform: lowercase;
    a {
        color: $brand-color;
        text-decoration: none;
    }
}

h1 {
    overflow: hidden;
    text-transform: none;
    font-variant: small-caps;
    // font-family: Karla;
    color: $heading-color;
    font-size: 4rem;
    text-align: center;
    //color: darken($brand-color, 30);
    line-height: 1.5em;
    margin: .3em 0 0;
    > div:first-child {
        font-size: .5em;
        line-height: .02em;
        position: relative;
        top: .15em;
    }
    > div:last-child {
        position: relative;
        bottom: .7em;
        font-size: .8em;
    }
}

h2 {
    text-align: center;
}

img { // permet de sortir du `p` qui a des marges
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
}

p {
    font-size: 1.7rem;
    text-align: center;
    padding: 0 10%;
}
